input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
form label{
  color: #fff;
  background-color: red;
}
.redcolor{
    
  color:red;
}
.my-pagination{
  margin-top:10px;
}