<div class="card bg-{{bgClass}}">
    <div class="card-header">
        <div class="row">
            <div class="col col-xs-3 col-md-4 col-lg-3">
                <i class="fa {{icon}} fa-3x opacity-3"></i>
            </div>
            <div class="col col-xs-9 col-md-8 col-lg-9">
                <h5 class="huge">{{count}}</h5>
                <div class="d-block">{{label}}</div>
            </div>
        </div>
    </div>
    <!-- <div class="card-footer">
        <span class="float-left">Run Report {{data}}</span>
        <a href="javascript:void(0)" class="float-right">
            <span ><i class="fa fa-arrow-circle-right"></i></span>
        </a>
    </div> -->
</div>
