.opacity-5 {
    opacity: .5;
}
.opacity-3 {
    opacity: .3;
}
.no-margin {
    margin: 0
}
.d-block {
    font-size: 0.9rem;
}
// .col-md-4 {
//     position: absolute;
//     right: 0;
//     background: rgba(255,255,255,.3);
//     top: 13%;
//     bottom: -24%;
//     border-radius: 50%;
//     padding: 15px 40px;
//     right: -19%;
//     height: 150px;
//     max-width: 150px;
//     width: 150px;
// }