
<ng-template #enlargedImageModal let-close="close">
  <div class="modal-header py-1">
    <h4 class="modal-title headerTitle mb-0">Enlarged Prescription View</h4>
    
    <button type="button" class="close" (click)="closeCustomModal();">×</button>
</div>

<div class="modal-body">
  <img src="{{enlargedPic}}" class="para"/>
</div>
</ng-template>
<ng-template #enlargedPrescriptionModal let-close="close">
  <div class="modal-header py-1">
    <h4 class="modal-title headerTitle mb-0">Enlarged View</h4>
    
    <button type="button" class="close" (click)="closeCustomModal2();">×</button>
</div>

<div class="modal-body">
  <img src="{{enlargedPrescPic}}" class="para"/>
</div>
</ng-template>

<div class="containerDM borderToMainDiv">
  

  <label  class="boldtext"><span>* = Required Fields</span></label>
  
        <form [formGroup]="digitalmargetingFormGroup" class="p-2">
            
        <div formArrayName="medicineListItems"
        *ngFor="let medicine of getControls(); let i = index;">

                <div [formGroupName]="i">
                  
          <table class="table table-bordered table-sm mt-2">
            <thead>
            <tr>
                <th>Id </th>
                <th>Medicine Name</th>
                <th>Quantity</th>                    
            </tr>
            </thead>
                  <tbody>
                    <tr>
                    <td style="width: 10%">{{i+1}}</td>
                  <td style="width: 60%">
                 
                  <tr >
                      
                      <input   class=" customwidth form-control" placeholder="Enter Medicine name" formControlName="medicineName"
                      >

                    </tr>
                    
              </td>
                  
              <td style="width: 30%">
                <input   class="form-control" formControlName="quantity"
                placeholder="Quantity">
                
              </td>
              
            </tr>
          </tbody>
        </table>
            </div>

      <div class="row text-right ml-2">
        <i class="fa fa-minus-circle customfiltericon m-10" aria-hidden="true" (click)="removeItem(i)"><span class="reducetextforicon">Remove</span></i>                     
<!--
      <button class="btn btn-dark" (click)="removeItem(i)"> Remove Medicine </button>-->
      </div>
</div>

<!--Chosen name: {{ digitalmargetingForm.controls.items.controls[i].controls.name.value }} -->



<div class="col-md-12 text-right mt-4">
<i class="fa fa-plus-circle customfiltericon m-10" aria-hidden="true" (click)="addItem()"><span class="reducetextforicon">Add</span></i>    
<!--
<button class="btn btn-dark" (click)="addItem()"> Add More Medicines </button>
-->
</div>

<div class="row ">
  <div class="col-md-12 form-group">
      <label for="mobileNumber" class="labelTitles"><b> Mobile Number</b></label><span class="required-asterisk">*</span>
  </div>
  <div class="col-md-12 marginTop">
          <input class="form-control" [(ngModel)]="digitalmargetingObject.mobileNumber" formControlName="mobileNumber"
          placeholder="Enter Mobile Number">
          
   </div>
   <div class="col-md-12 text-right m-2">
    <button type="button" class="btn btn-primary m-10" (click)="sendOTP();"><span class="reducetextforicon" *ngIf="!sendOTPflag">Send OTP</span><span class="reducetextforicon" *ngIf="sendOTPflag">Re-Send OTP</span></button>
   </div>
   
</div>
<p *ngIf="!verifyActionStart && sendOTPflag " class="cutomeerrortext">
                
  <span class="redcolor"> You will receive an OTP in your above mobile shortly, please enter that below and press the verify button to validate that.
   </span>
 </p>
     

<div class="row" *ngIf="sendOTPflag">
  <div class="col-md-12 form-group">
      <label for="name" class="labelTitles"><b>OTP</b></label><span class="required-asterisk">*</span>
  </div>
  <div class="col-md-12 marginTop">
      <input class="form-control labelValue" [(ngModel)]="otpEnteredByUser"  formControlName="otpEnteredByUser"  placeholder="Enter OTP">
  </div>
  <div class="col-md-12 text-right m-2">
    <button type="button" class="btn btn-primary m-10" (click)="verifyOTP();">Verify OTP</button>
   </div>
</div>

<p *ngIf="otpVerified && otpEnteredByUser == randomOTP" class="cutomeerrortext">
                
  <span class="redcolor ml-4"> OTP is verifed successfully </span>
   
 </p>
     




          <div class="row">
            <div class="col-md-12 form-group">
                <label for="name" class="labelTitles"><b>Name</b></label><span class="required-asterisk">*</span>
            </div>
            <div class="col-md-12 marginTop">
                <input class="form-control labelValue" [(ngModel)]="digitalmargetingObject.name"  formControlName="name" placeholder="Enter name">
            </div>
        </div>
  
        <div class="row">
                <div class="col-md-12 form-group">
                    <label for="email" class="labelTitles"><b>Email</b></label>
                </div>
                <div class="col-md-12 marginTop">
                        <input type="email"  [class.is-invalid] = "digitalmargetingFormGroup.get('emailId').invalid && digitalmargetingFormGroup.get('emailId').touched" class="form-control" [(ngModel)]="digitalmargetingObject.emailId" formControlName="emailId"
                        placeholder="Enter email">
                 </div>
            </div>
        
       
  
              <div style="border: 0; padding: 10;" class="row mt-4">
                <div class="col-md-12 form-group">
                  <label for="email" class="labelTitlesDM"><b>Upload your prescription <span class="required-asterisk">*</span><span *ngIf="customerOldPrescriptionListArr && customerOldPrescriptionListArr.length > 0" > <br>OR<br> just click a row on an old prescription from the list below </span> </b></label>
              </div>
                <div class="col-md-12 form-group marginTop" (click)="enlargePic()" >
                
                <div class="profile-image-wrapper"  >
                  <div class="profile-image"  >

                    <!--[style.backgroundImage]="getPhoto('prescription') " src="{{prescriptionSource}}" -->
                    <img id="output" class="profile-image" />
                    <span class="edit-icon" (click)="capturePhoto(null,'prescription')">
                      <!-- (click)="enlargePic()"
                      <i class="fa fa-plus" aria-hidden="true" *ngIf="mode=='add'" ></i>
                      <i class="fa fa-pencil-square-o" *ngIf="mode=='edit'" aria-hidden="true" ></i>
                     -->
                    </span>
                  </div>
                </div>
                <input type="file" name="files[]" id="file-selector" accept=".jpg, .jpeg, .png" (change)="capturePhoto($event,'prescription')" />
              </div>
              </div>

              <p></p>
             

             <div class="modal-footer">
                <button [disabled]="!digitalmargetingFormGroup.valid" type="button" class="btn btn-primary m-10"
                    (click)="save();">Save</button>
                <button type="button" class="btn btn-primary m-10" (click)="closeMainModal();">Cancel</button>
            </div>
        
        <p *ngIf="submitAttempt" class="cutomeerrortext">
                
         <span class="redcolor ml-2"><i class="fa fas fa-exclamation"></i><b>&nbsp;Fix The Error : </b></span> {{form_fill_failure_msg}}
          
        </p>
            

</form>
      



<div class="my-container">
  <ng-template #customLoadingTemplate>
    
            Please wait..
    
</ng-template>
  <ngx-loading [show]="loading" [config]="{ primaryColour: 'blue',secondaryColour:'red',fullScreenBackdrop:false}" [template]="customLoadingTemplate"></ngx-loading>
</div>




<!--jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination-->





