canvas {
    margin-bottom: 20px;
}
.custom_text{
    font-weight: bold;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }