<div>
  <app-page-header [heading]="'Customers'" [icon]="'fa-user'"></app-page-header>
</div>

  <div class="col-md-12" >
      
          <!--div class="card-header">
              User type
          </div-->
          
          
                
                <div class="col-md-12 text-right " *ngIf="user.role.doctor.customer.create">                      
                  <div class="content">
                    <button type="button" class="btn btn-dark" (click)="openAddCustomerDialog()">Add Customer</button>
                  </div>
              </div>
             
          
          
      


<!--div class="row m-1">  
  
  <div class="col col-xl-12 col-lg-12">
    <div class="card mb-3">
      <div class="card-header">
        List of {{userKind}}
    </div>
  </div>
</div>
</div -->

      <div class="card-body table-responsive marginLeft"> <span class="pb-3 "><b> List of existing {{userKind}}s </b>  </span>
        <table class="table table-striped table-bordered table-sm" *ngIf="userKind == 'customer'">
          <thead>
          <tr>
            <th>Customer ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Alternate Mobile</th>
	            <th>Password</th>
              <!--th>Status</th-->
              <th *ngIf="user.role.doctor.customer.edit">Enable/Disable</th>
              <th>Speciality</th>
              <th>Created Date</th>
              <th *ngIf="user.role.doctor.customer.edit">Edit</th>
              <th *ngIf="user.role.doctor.customer.edit">Orders</th>
          </tr>
          </thead>
          <tbody>
              <tbody *ngIf="normalFiltereduserListArr && normalFiltereduserListArr.length>0">
            
              <tr *ngFor="let obj of normalFiltereduserListArr | paginate: { id:'forcustomer', itemsPerPage: pageSize, currentPage: pageNo, totalItems: totalDocRecords }">              
                <td> {{obj?._id}} </td>
              <td> {{obj?.name}} </td>
              <td>{{obj.emailId}}</td>
              <td>{{obj.mobileNumber}}</td>
              <td>{{obj.alternateMobileNumber}}</td>
              <td>{{obj.password}}</td>
              <!--td *ngIf="user.role.doctor.customer.edit"> 
                <span  *ngIf="obj.active">Enabled</span>
                <span *ngIf="!obj.active">Disabled</span>
            </td-->
              <td *ngIf="user.role.doctor.customer.edit">               
                <ui-switch [(ngModel)]="obj.active" (change)="updateStatus($event, obj)"></ui-switch>
                    
              </td>
              <td>{{obj.practiceCategory}}</td>
<td >{{convertToHumanDate(obj.createdDate)}}</td>
<td *ngIf="user.role.doctor.customer.edit" ><button class="btn btn-dark" (click)="openForeditCustomer(obj)"> Edit </button></td>    
<td *ngIf="user.role.doctor.customer.edit" ><button class="btn btn-dark" (click)="openOrderPage(obj)"> Open Orders </button></td> 
            </tr>
          </tbody>
          <div class="col-md-12 text-left clearfix ">
          <pagination-controls class="my-pagination marginLeft" *ngIf="userKind=='customer'" id="forcustomer" 
               (pageChange)="pageChanged($event)"
                      (pageBoundsCorrection)="pageChanged($event)"                      
                      directionLinks="true"               maxSize="9"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Prev"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page"></pagination-controls >
          </div>
          <tbody *ngIf="(normalFiltereduserListArr && normalFiltereduserListArr.length==0)">
              <tr>
                <td colspan="7" align = "center">No record available</td>
              </tr>
            </tbody>
        </table>
      </div>



      <ng-template #customerFormModal let-close="close">
        <form [formGroup]="customerFormGroup" class="custom_timebox p-0">
            <div class="modal-header py-1">
                    <h4 class="modal-title headerTitle mb-0">{{mode | titlecase}} Customer</h4>
                    <button type="button" class="close" (click)="closeModal();">×</button>
              </div>
              <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="name" class="labelTitles"><b>Name</b></label><span class="required-asterisk">*</span>
                    </div>
                    <div class="col-md-12 marginTop">
                        <input class="form-control labelValue" [(ngModel)]="customerObject.name"  formControlName="name" placeholder="Enter name">
                    </div>
                </div>

                <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="email" class="labelTitles"><b>Email</b></label><span class="required-asterisk">*</span>
                        </div>
                        <div class="col-md-12 marginTop">
                                <input type="email"  [class.is-invalid] = "customerFormGroup.get('emailId').invalid && customerFormGroup.get('emailId').touched" class="form-control" [(ngModel)]="customerObject.emailId" formControlName="emailId"
                                placeholder="Enter email">
                         </div>
                    </div>
                
                <div class="row ">
                  <div class="col-md-12 form-group">
                      <label for="email" class="labelTitles"><b> Mobile Number</b></label><span class="required-asterisk">*</span>
                  </div>
                  <div class="col-md-12 marginTop">
                          <input class="form-control" [(ngModel)]="customerObject.mobileNumber" formControlName="mobileNumber"
                          placeholder="Enter Mobile Number">
                          
                   </div>
                </div>

                <div class="row ">
                  <div class="col-md-12 form-group">
                      <label for="email" class="labelTitles"><b>Alternate Mobile Number</b></label>
                  </div>
                  <div class="col-md-12 marginTop">
                          <input class="form-control" [(ngModel)]="customerObject.alternateMobileNumber" formControlName="alternateMobileNumber"
                          placeholder="Enter Alternate Mobile Number">
                          
                   </div>
                </div>


            <div class="row ">
              <div class="col-md-12 form-group">
                  <label for="mobile" class="labelTitles"><b>Age</b></label>
              </div>
              <div class="col-md-12 marginTop">
                      <input class="form-control" [(ngModel)]="customerObject.age" formControlName="age"
                      placeholder="Enter Mobile">
                      
               </div>
        </div>



            <div class="row">
              <div class="col-md-12 form-group">
                  <label for="name" class="labelTitles"><b>Sex</b></label>
              </div>
              <div class="col-md-12 marginTop">
                 <select formControlName="sex" [(ngModel)]="customerObject.sex" class="form-control" name="sex">
                                        
                                          <option *ngFor="let sex of sexList" value="{{sex}}" class="labelValue">{{sex}}</option>
                </select>
              </div>
            </div>
            


        <div class="row">
          <div class="col-md-12 form-group">
              <label for="name" class="labelTitles">Address Line 1</label><span class="required-asterisk">*</span>
          </div>
          <div class="col-md-12 marginTop">
              <input class="form-control labelValue" formControlName="addressline1" [(ngModel)]="customerObject.addressline1" placeholder="Enter flatno / house no">
          </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
            <label for="name" class="labelTitles">Address Line 2</label>
        </div>
        <div class="col-md-12 marginTop">
            <input class="form-control labelValue" [(ngModel)]="customerObject.addressline2" formControlName="addressline2" placeholder="Enter Plot no">
        </div>
    </div>

      <div class="row ">
        <div class="col-md-12 form-group">
            <label for="email" class="labelTitles"><b>Area </b></label><span class="required-asterisk">*</span>
        </div>
        <div class="col-md-12 marginTop">
                <input  class="form-control" [(ngModel)]="customerObject.area" formControlName="area"
                placeholder="Enter area">
                
         </div>
  </div>

  <div class="row ">
    <div class="col-md-12 form-group">
        <label for="email" class="labelTitles"><b>P.O. </b></label><span class="required-asterisk">*</span>
    </div>
    <div class="col-md-12 marginTop">
            <input class="form-control" [(ngModel)]="customerObject.po" formControlName="po"
            placeholder="Enter po">
            
     </div>
</div>

<div class="row ">
  <!--div class="col-md-12 form-group">
      <label for="email" class="labelTitles"><b>Pin </b></label><span class="required-asterisk">*</span>
  </div-->
  <!--div class="col-md-12 marginTop">
          <input  class="form-control" [(ngModel)]="customerObject.pin" formControlName="pin"
          placeholder="Enter Pin">
          
   </div-->
   <div class="col-md-12">
    <div class="form-group">
      <label for="email" class="labelTitles"><b>Pin </b></label><span class="required-asterisk">*</span>
  
        <ng-autocomplete 
        [data]="pinCodeList"
        [(ngModel)] = "pinCode"      
        formControlName="pin"
        [searchKeyword]="keywordPin"
        (selected)='pincodeSelectEvent($event)'
        (inputChanged)='onChangePincodeSearch($event)'      
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate">                                 
        </ng-autocomplete>
  
  
        <ng-template #itemTemplate id="itemTemplate" let-item>
        <a [innerHTML]="item.pinCode"></a>
        </ng-template>
  
        <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
        </ng-template>
  
        
       
    </div>
</div>
</div>

<div class="row ">
  <div class="col-md-12 form-group">
      <label for="email" class="labelTitles"><b>District </b></label>
  </div>
  <div class="col-md-12 marginTop">
          <input  class="form-control" [(ngModel)]="customerObject.district" formControlName="district"
          placeholder="Enter district">
          
   </div>
</div>


<div class="row">
  <div class="col-md-12">
      <div class="form-group">
          <label class="labelTitles">State </label>
          <select formControlName="state" [(ngModel)]="customerObject.state" class="form-control" name="state"       >
            
              <option *ngFor="let state of states" value="{{state}}" class="labelValue">{{state}}</option>
          </select>
         
      </div>
  </div>
</div>


<div class="row ">
  <div class="col-md-12 form-group">
      <label for="email" class="labelTitles"><b>Landmark </b></label>
  </div>
  <div class="col-md-12 marginTop">
          <input  class="form-control" [(ngModel)]="customerObject.landmark" formControlName="landmark"
          placeholder="Enter landmark">
          
   </div>
</div>



  



             </div>
             <div class="modal-footer">
                <button [disabled]="!customerFormGroup.valid" type="button" class="btn btn-primary m-10"
                    (click)="save();">Save</button>
                <button type="button" class="btn btn-primary m-10" (click)="closeModal();">Cancel</button>
            </div>
        </form>
        <p *ngIf="submitAttempt" class="cutomeerrortext">
                
         <span class="redcolor ml-2"><i class="fa fas fa-exclamation"></i><b>&nbsp;Fix The Error : </b></span> {{form_fill_failure_msg}}
          
        </p>
</ng-template>

<!--jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination-->

<!--div class="my-container">
  <ngx-loading [show]="loading"></ngx-loading>
</div-->






